.HeaderLabel{
    margin-top:8px
}
.TableContainerOuter{
    xbackground-color: yellow;
    overflow-x: hidden;
    overflow-y: hidden
}

.TableContainerInner{
   
    xbackground-color: greenyellow;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}


.tableItemContainer{
    display: flex;
}

.tableItemInspectorContainer{ 
    width:400px;
    overflow-x:auto;
    overflow-y:auto

}
.tableItemInspector {
   border:1px solid #999999
}
.tableItemList {
    flex-grow: 1;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}
.tableItem{
    margin:8px;
    padding:8px;
    cursor: pointer;
    height: 32px;
    border:1px solid #ffffff;
background-color:  #ffffff;
    
}

.tableItemSelected{
    
    margin:8px;
    padding:8px;
    cursor: default;
    height: 32px;
    border:1px solid #ffffff;
    color:#ffffff;
    background-color: #444444
}

.tableItem:hover{
    
    border:1px solid #000000;
    color:#ffffff;
    background-color: #000000
}


