.User{
    max-width: 400px;
    cursor: pointer;
    border: 1px solid #00000000;
    margin: 4px;
    padding:8px;
}

.User:hover {
    border: 1px solid #000000;
    color: #eeeeee;
    background-color: #444444
}
