.markdown img {
    max-width: 100%;
    height:auto
}

.markdown H1 {
    padding: 8px;
    font-size: largest;
    border-bottom: 2px solid grey
}

.megaMenuLevel1 {
    border-bottom: 1px solid #333333; padding:8px;
}

.headingGroup {
    
}

.headingGroup:hover {
    background-color: #eeeeee;
    cursor: pointer;
}